# Ignore all hidden files (those starting with a dot)
.*

#But not ignore itself
!.gitignore

# Example: Ignore specific files
api_decryptor.py
decryption_key_file_for_accounts.bin
encrypted_key_secret_for_accounts.bin
poc.py

